<div>
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name" value="<%= profile.name %>">
</div>

<div>
<label for="birthDate" class="form-label">Enter your birthday</label>
  <input type="date" class="form-control" id="birthDate" name="birthDate" value="<%= profile.birthDate == null ? '' : profile.birthDate.toISOString().split('T')[0] %>">
</div>

<div>
<label for="sex" class="genderAssignedAtBirth">What is your sex (gender assigned at birth)?</label>
    <select class="form-select" id="genderAssignedAtBirth">
      <option value="sex" selected>Please select:</option>
      <option value="female">female</option>
      <option value="male">male</option>
    </select>
</div>

<div>
<label for="genderId" class="form-label">What is your gender identity?</label>
  <input type="text" class="form-control" id="genderId" name="genderId" value="<%= profile.genderId %>">
</div>

<div>
<label for="geneticBackground" class="form-label">Genetic Background</label>
  <textarea class="form-control" id="geneticBackground" name="genenticBackground" value="<%= profile.geneticBackground %>"></textarea>
</div>

<div>
<label for="eHealthRecords" class="form-label">eHealth Records</label>
  <textarea class="form-control" id="eHealthRecords" name="eHealthRecords" value="<%= profile.eHealthRecords %>"></textarea>
</div>

<div>
<label for="journal" class="form-label">Journal</label>
  <textarea class="form-control" id="journal" name="journal" value="<%= profile.journal %>"></textarea>
</div>

<div>
<label for="todo" class="form-label">To Do</label>
    <textarea class="form-control" id="todo" name="todo" value="<%= profile.todo %>"></textarea>
</div>

<div>
  <!-- <label for="imgUpload" class="form-label">Image</label>
  <input type="file" class="form-control" id="imageUpload" name="file">
  -->
</div>