  <div>
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required value="<%= profile.name %>">
  </div>

 <div>
    <label for="birthDate" class="form-label">Birthdate</label>
    <input type="date" class="form-control" id="birthDate" name="birthDate" value="<%= profile.birthDate == null ? '' : profile.birthDate.toISOString().slice(0,10) %>">
 </div> 
  
  <div>
    <label for="eHealthRecords" class="form-label">eHealth Records</label>
    <input type="text" class="form-control" id="eHealthRecords" name="eHealthRecords" value="<%= profile.eHealthRecords %>">
  </div>

  <div>
  <label for="journal" class="form-label">Journal</label>
    <input type="text" class="form-control" id="journal" name="journal" value="<%= profile.journal %>">
  </div>
  
  <div>
    <label for="providers">Providers</label>
    <select name="providers" id="providers" class="form-control" multiple>
      <% providers.forEach(function(provider) { %>
      <option value="<%= provider._id %>"
        <% if (profile && profile.providers && profile.providers.includes(provider._id)) { %>
          selected
        <% } %>
        ><%= provider.name %>
      </option>
      <% }) %>
    </select>
  </div>

  <div>
    <label for="imgUpload" class="form-label">Image</label>
    <input type="file" class="form-control" id="imgUpload" name="file">
  </div>