<%- include('../partials/header.ejs') %>
<section class="container">
  <div class="row mt-5">
    <div class="col-6">
          <div>
              <p><strong>User Name</strong></p>
              <p><strong>Email</strong></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
            
          <section class="container mt-5">
            <h2>Health Profile for <%= profile.name %> (profile.ejs) </h2>
            <table class="table">
              <thead></thead>
              <tbody>
                <tr>
                  <td>Name</td>
                  <td><%= profile.name %> </td>
                </tr>
                <tr>
                  <td>Birthdate (yyyy-mm-dd)</td>
                  <td><%= profile.birthDate.toISOString().split('T')[0] %></td>
                </tr>
                <tr>
                  <td>Sex</td> 
                  <td><%= profile.sex %> </td>
                </tr>
                <tr>
                  <td>Gender Identity</td>
                  <td><%= profile.genderId %></td>
                </tr>
                <tr>
                  <td>Genetic Background</td>
                  <td><%= profile.geneticBackground %></td>
                </tr>
                <tr>
                  <td>eHealth Records</td>
                  <td><%= profile.eHealthRecords %></td>
                </tr>
                <tr>
                  <td>Journal</td>
                  <td><%= profile.journal %></td>
                </tr>
                <tr>
                  <td>To do</td>
                  <td><%= profile.todo %></td>
                </tr>

              </tbody>
            </table>
            
            <div>
              <a href="/profiles/<%= profile._id %>">View</a>
              <a href="/profiles/<%= profile._id %>/edit">Edit</a>

              <form method="POST" action="/profiles/<%= profile._id %>?_method=DELETE">
                <button type="submit">Delete</button>  
              </form>
            </div>

          </section>

          <section class="container mt-3">
            <div class="row">
                <h2>Health Profiles</h2>
                  <% for(let i=0; i < profiles.length; i++) {%>
                    <div class="card">
                      <a href="/profiles/<%= profiles[i]._id%>" class="card-link">
                          <h5 class="card-title"><%= profiles[i].name%></h5>
                        </a>
                    </div>
                  <% } %>
            </div>
          </section>


      </div>
    </div>   
  </div>   
</section>

<%- include('../partials/footer.ejs') -%>