<section class="container">
  <div class="row mt-5">
    <div class="col-6">
          <p>profiles/profile</p> 
          <section class="container mt-5">
            <h2>Health Profile for <%= profile.name %> </h2>

            <%- include('_form_fields')  %>
            
            <div>
              <%/*%> 
              <a href="/profiles/<%= profile.id %>">View</a> 
              <%*/%>
              <a href="/profiles/<%= profile.id %>/edit">Edit</a>

              <form method="POST" action="/profiles/<%= profile.id %>?_method=DELETE">
                <button type="submit">Delete</button>  
              </form>
            </div>

          </section>

          <section class="container mt-3">
            <div class="row">
                <h2>Health Profiles</h2>
                  <% for(let i=0; i < profiles.length; i++) {%>
                    <div class="card">
                      <a href="/profiles/<%= profiles[i].id %>" class="card-link">
                          <h5 class="card-title"><%= profiles[i].name%></h5>
                        </a>
                    </div>
                  <% } %>
            </div>
          </section>


      </div>
    </div>   
  </div>   
</section>
