<%- include('partials/header') -%>
<section class="container">
  <div class="row mt-5">
    <div class="col-6">
          <div>
              <p><strong>User Name</strong></p>
              <p><strong>Email</strong></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <section class="container mt-5">
            <h2>Health Profile for <%= profile.name %> </h2>
            <ul class="list-unstyled">
              <li> <%= profile.birthDate %> </li>
              <li> <%= profile.sex %> </li>
              <li> <%= profile.genderId %> </li>
              <li> <%= profile.geneticBackground %> </li>
              <li> <%= profile.eHealthRecords %> </li>
              <li> <%= profile.journal %> </li>
              <li> <%= profile.todo %> </li>
            </ul>
          </section>
            

          <section class="col-6 mt-5">
            <h2>Health Profiles</h2>
            <ul class="row list-unstyled">
            <% for( var i=0; i < profiles.length; i++ ) { %>
              <li class="col-6 justify-content-between mt-5">
                <a href="/profiles/<%= profiles[i]._id%>">
                  <h3><%= profiles[i].name %></h3>
                </a>
              </li>
            <% } %>
            </ul>
          </section>  
      </div>
    </div>   
  </div>   
</section>

<%- include('partials/footer') -%>