<%- include('partials/header') -%>
<section class="container">
  <div class="row mt-5">
    <div class="col-6">
          <div>
              <p><strong>User Name</strong></p>
              <p><strong>Email</strong></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <section class="container mt-5">
            <h2>Create a Health Profile</h2>
            <form action="/profiles/createProfile" enctype="multipart/form-data" method="POST">
              
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name">
              
              <label for="birthDate" class="form-label">Enter your birthday</label>
                <input type="date" class="form-control" id="birthDate" name="birthDate">

              <label for="sex" class="genderAssignedAtBirth">What is your sex (gender assigned at birth)?</label>
                  <select class="form-select" id="genderAssignedAtBirth">
                    <option value="sex" selected>Please select:</option>
                    <option value="female">female</option>
                    <option value="male">male</option>
                  </select>
                
              
              <label for="geneticBackground" class="form-label">Genetic Background</label>
                <textarea class="form-control" id="geneticBackground" name="genenticBackground"></textarea>
              
              <label for="eHealthRecords" class="form-label">eHealth Records</label>
                <textarea class="form-control" id="eHealthRecords" name="eHealthRecords"></textarea>
              
              <!-- <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
               -->
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3" value="Upload">Submit</button>
              </div>
            </form>
          </section>

          <div class="col-6 mt-5">
            <h2>Health Profiles</h2>
            <ul class="row list-unstyled">
            <% for( var i=0; i < profiles.length; i++ ) { %>
              <li class="col-6 justify-content-between mt-5">
                <a href="/profiles/<%= profiles[i]._id%>">
                  <h3><%= profiles[i].name%></h3>
                </a>
              </li>
            <% } %>
            <h3>Profiles.forEach</h3>
            <% profiles.forEach( el => { %>
              <li class="profiles" data-id="<%el._id%>">
                <%= el.profiles %>
              </li>
            <% }) %>
            </ul>
          </div>  
      </div>
    </div>   
  </div>   
</section>

<%- include('partials/footer') -%>