<section class="container">
    <div class="row mt-5">
        <div class="col-6">
            <h2>Create a Provider</h2>
            <form action="/providers" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= provider.name %>">
                </div>
                <div>
                    <label for="specialization" class="form-label">Specialization</label>
                    <input type="text" class="form-control" id="specialization" name="specialization" value="<%= provider.specialization %>">
                </div>
                <div>
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" name="address" value="<%= provider.address %>"></textarea>
                </div>
                <div>
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" value="<%= provider.phone %>">
                </div>
                <div>
                    <label for="website" class="form-label">Website</label>
                    <input type="text" class="form-control" id="website" name="website" value="<%= provider.website %>">
                </div>
                <div>
                    <label for="socials" class="form-label">Socials</label>
                    <input type="text" class="form-control" id="socials" name="socials" value="<%= provider.socials %>">
                </div>
                <div>
                    <label for="media" class="form-label">Media</label>
                    <input type="text" class="form-control" id="media" name="media" value="<%= provider.media %>">
                </div>
                <div>
                    <label for="notes" class="form-label">Notes</label>
                    <textarea class="form-control" id="notes" name="notes" value="<%= provider.notes %>"> </textarea>
                </div>
                <div>
                    <label for="profile" class="form-label">Profile</label>
                    <select name="profile">
                    <% profiles.forEach(profile => { %>
                        <% if (profile.id === provider.profile) { %>
                        <option selected label="<%= profile.name %>" value="<%= profile.id %>">
                        <% } else { %>
                        <option label="<%= profile.name %>" value="<%= profile.id %>">
                        <% } %>
                    <% }) %>
                    </select>
                </div>
                <a href="/providers">Cancel</a>
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</section>

